<template>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Stock</th>
          <th>Image</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="book in books" :key="book.id">
          <td>{{ book.title }}</td>
          <td>{{ book.stock }}</td>
          <td>
            <img :src="book.image" :alt="book.title" width="50" height="70" class="img-thumbnail">
          </td>
          <td>
            <button class="btn btn-secondary" @click="editBook(book)">
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" @click="deleteBook(book.id)">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      books: []
    }
  },
  created() {
    this.fetchBooks()
  },
  methods: {
    async fetchBooks() {
        this.$http.get(`${this.$api.endpoint}/buku/datatable`)
        .then(res => {
            this.book = res.data.data
        })
    },
    editBook() {
    },
    async deleteBook(id) {
        this.$http.delete(`${this.$api.endpoint}/buku/delete/${id}`)
        .then(res => {
            this.$notify({
                group: 'notifications',
                title: 'Success',
                text: res.data.data.message,
                position: 'top-right'
            })
        }).catch(error => {
            this.$notify({
                group: 'notifications',
                title: 'Error',
                text: error.response.data.message,
                position: 'top-right'
            })
        })
    }
  }
}
</script>
