<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-center mb-5">Log In</h3>
            <form @submit.prevent="login">
              <div class="form-group">
                <label for="email">Email</label>
                <input v-model="email" type="email" class="form-control" id="email" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input v-model="password" type="password" class="form-control" id="password" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Log In</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    login() {
        this.$http.post(`${this.$api.endpoint}/login`, {
          email: this.email,
          password: this.password
        })
        .then(() => {
            this.$router.push('/')
        }).catch(error => {
            this.$notify({
                group: 'notifications',
                title: 'Error',
                text: error.response.data.message,
                position: 'top-right'
            })
        })
    }
  }
}
</script>

<style scoped>
.card {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}
</style>
